.saved_articles_wrapper {
    margin-top: 7rem;

}

.open_saved_articles_btn {
    width: 100%;
    border-bottom: 2px solid #573daa;
    text-align: left;
    padding: 0 10px 10px 0;
    font-family: "Poiret One", sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.saved_articles_content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-out;
}

.saved_articles_content.open {
    max-height: 1000px;
}

.saved_articles_div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.no_saved_articles_txt {
    font-family: "Montserrat", sans-serif;
}