.article_title {
    font-family: "Chonburi", serif;

    font-weight: 200;
}

.categories_div_article {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 1rem 0;
}

.article_category {
    font-family: "Poiret One", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 2rem;
    color: #643ee0;
}
.article_pubDate_text{
    font-family: "Chonburi", serif;
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.article_authors_text{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-bottom: 3rem;
}
.article_text {
    font-family: "Montserrat", sans-serif;
    display: flex;
    font-size: 1rem;
    text-align: justify;
    line-height: 2rem;
    white-space: pre-line
}

.save_article_btn{
    margin-bottom: 3rem;
    border-radius: 100%;
    font-size: 1.9rem;
}
@media (max-width: 450px) {
    .login_page {
        height: fit-content;
        padding: 30px 0;
    }
}