.registr_form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px;
    background-color: rgba(49, 49, 49, 0.323);
    backdrop-filter: blur(5px); 
    border-radius: 10px;
}
.registr_form input{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    padding: 11px 11px 7px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    border: 2px solid rgb(141, 141, 141);
}
.registr_form input:focus{
    border: 2px solid #643ee0;
}
.registr_form input[type="submit"]{
    background-color:  #643ee0;
    border: none;
    color: white;
    margin-top: 20px;
    padding: 11px ;
}
.registr_form input[type="submit"]:hover{
    background-color: #5a38cc;
}

.registr_form label{
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    margin-bottom: 3px;
}
.birthdate_wrapper{
    display: flex;
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;
}
#birthmonth_select{
    flex-grow: 2;
}
.birthdate_wrapper select{
    flex-grow: 1;
    padding: 5px 11px 5px 4px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
#role_select{
    padding: 5px 11px 5px 4px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}
.registr_title{
    font-family: "Poiret One", sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}
.register_mistake_txt{
    padding: 5px 3px 0;
    border-radius: 3px;
    color: rgb(255, 29, 29);
    background-color: rgba(231, 229, 229, 0.423);
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 600px) {
    .registr_form{
        width: 350px;
        padding: 30px;
    }
    .registr_form input{
        padding: 8px 8px 8px;
    }
}
@media (max-width: 450px) {
    .registr_form{
        width: 320px;
        padding: 20px;
    }
    .registr_form input{
        padding: 6px 8px 6px;
    }
    .birthdate_wrapper{
        flex-wrap: wrap;
    }
    #birthyear_select{
    
        flex-grow: 0;
    }
}